@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

.container {
  width: 1440px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

header a {
  background-color: #fff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
nav :hover {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #404bbf;
  letter-spacing: 0.02em;
  font-weight: 500;
}

address :hover {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #404bbf;
  letter-spacing: 0.02em;
  font-weight: 400;
}

nav ul {
  display: flex;
  gap: 40px;
  margin: 0;
}
.spc a {
  position: relative;
  text-decoration: none;
  padding-bottom: 3px;
}

.spc a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 250ms ease;
}
.spc a:hover::after {
  background-color: #404bbf;
}
.spc a.active::after {
  width: 100%;
}

header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  padding: 16px 8px;
  height: 72px;
}
.address {
  font-weight: 400;
  display: flex;
  gap: 40px;
  margin-left: auto;
  margin-right: 156px;
}

.baslik {
  display: flex;
  margin-right: 76px;
  margin-left: 156px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", "Roboto", sans-serif;
}
.baslik2 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", "Roboto", sans-serif;
}
#web {
  color: #4d5ae5;
}
img {
  max-width: 100%;
  height: auto;
}
#studio {
  color: #2e2f42;
}
#studioiki {
  color: #f4f4fd;
}
button {
  border: 4px solid #4d5ae5;
  text-align: center;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  width: 169px;
  height: 56px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  background-color: #404bbf;
  border: 4px solid #404bbf;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
}
.is-open {
  display: flex;
}
.modal-content {
  position: relative;
  background-color: rgba(252, 252, 252, 1);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  font-family: "Roboto", "Raleway", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
}
.modal-content h1 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 1);
  padding-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-group label {
  font-size: 12px;
  color: rgba(142, 143, 153, 1);
}
.form-group input,
.form-group textarea {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
}
.form-group textarea {
  height: 120px;
  resize: none;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: rgba(142, 143, 153, 1);
  padding-top: 16px;
}

.checkbox-group a {
  color: rgba(77, 90, 229, 1);
  text-decoration: underline;
}

.submit-button {
  margin: 24px auto 0;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
}
.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
}

.input-wrapper input {
  padding-left: 38px;
}
.close-icon {
  position: absolute;

  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 1);
  width: 24px;
  height: 24px;

  padding: 6px;
}
.icon {
  width: 64px;
  height: 64px;
  background-color: #f4f4fd;
}
.ilk-simgeler {
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.birinci {
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.cozumler-baslik {
  color: #fff;
  font-size: 56px;
  text-align: center;
  line-height: 1.0714;
  font-weight: 700;
  padding-bottom: 48px;
  max-width: 500px;
}
.onalti ul {
  display: flex;
  gap: 24px;
  padding: 120px 156px;
}

.onalti li {
  flex: 1;
}
.onalti p {
  font-size: 16px;
  line-height: 1.5;
}
.uc {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.bes {
  font-size: 36px;
  line-height: 1.1111;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding-bottom: 72px;
}
.takimimiz {
  background-color: #f4f4fd;
  padding: 120px 156px;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.sosyal-medya {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.ikinci-simgeler {
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
}

.ikinci-simgeler,
.ucuncu-simgeler {
  border: 1px solid #4d5ae5;
  border-radius: 50%;
  fill: #4d5ae5;
  background-color: #4d5ae5;
  padding: 5px;
}

.ikinci-simgeler:hover {
  color: #404bbf;
  fill: #404bbf;
}
.yedi {
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.yedi li {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.yedi h3 {
  display: flex;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px;
}
.yedi p {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  flex-direction: row;
  justify-content: center;
}
.portfolyo {
  padding: 120px 156px;
  text-align: center;
  gap: 24px;
}
.sondanonce {
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: 0;
  padding: 32px 16px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
  justify-content: center;
}
.portfolio li {
  width: 360px;
  text-align: left;
  gap: 24px;
  border: 1px solid #e7e9fc;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.img-transform {
  position: relative;
  overflow: hidden;
}
.img-transform .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(77, 90, 229, 1);
  color: rgba(244, 244, 253, 1);
  padding: 0 32px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.portfolio-card:hover .img-transform .overlay {
  transform: translateY(0);
}

.portfolio li:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.son {
  padding: 32px 16px;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111;
}
.app {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

footer {
  background-color: hsl(237, 18%, 22%);
  font-size: 16px;
  color: #f4f4fd;
  padding: 100px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  gap: 120px;
  padding-left: 156px;
}
.logo {
  flex-direction: column;
}
.social-media {
  flex-direction: column;
}
footer a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1667;
  color: #f4f4fd;
  letter-spacing: 0.03em;
}
footer p {
  max-width: 264px;
}
.social-media .icons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.ucuncu-simgeler {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.footer-subscribe {
  flex-direction: column;
}
.footer-subscribe .son-form {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.logo,
.social-media,
.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-input {
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #2e2f42;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.subscribe-input:hover {
  border: 1px solid #31d0aa;
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #4d5ae5;
  width: 165px;
  height: 40px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.subscribe-button:hover {
  background-color: #31d0aa;
  border: 1px solid #31d0aa;
}
body {
  font-family: "Roboto", "Raleway", "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
